* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    font-family: sans-serif;
}
.root {
    position: relative;
}
@import './home';
@import './btns';
@import './editContainer';
@import './images';
@import './EditTools';


.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.Home-menu {
    display: inline-block;
    padding: 20px 20px 0px 20px;
}

.footer {
    text-align: center;
    padding: 10% 0;
}

