.Image-container {
    background-color: darkgrey;
    h1 {
        font-size: 42px;
        font-weight: 200;
        text-align: center;
        padding: 5% 0;
    }

    @media screen and (max-width: 600px) {
        h1 {
            font-size: 32px;
        }
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

    
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    :hover {
        border: 1px solid blue;
        cursor: pointer;
    }

    

    
}
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}